[Unit]
Description=Service to run Python IoTConnect program on boot.
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/weston/PROTEUS_MP157F_Demo/iotconnect-python-sdk-v1.0/sample/STM32MP157F-DK2_Demo.py

[Install]
WantedBy=multi-user.target
